.App {
  text-align: center;
}


/* display: block flex;
  flex-direction: column;
  align-items: stretch; 
   */

.OnOffButton {
  
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

.OnOffButton:hover {
  background-color: rgb(1, 152, 1);
}

.OnOffButton:active {
  background-color: darkgreen;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

.HeaderContainer {
  display: flex;
  /* flex: 1;
  flex-basis: 100%;
  text-align: center;
  flex-direction: row; */
}
.HeaderItem {
  flex-basis: 100%;
  align-items: center;
  align-self: center;
  text-align: center;
}

.WebContainer {
  display: block flex;
  flex-direction: column;
  align-items: stretch;

  height: 100%;

}

.Container {
  display: block flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border: 5px solid blue;
}

.ItemInitial {
  border: 2px solid red;
  background-color: rgb(255, 251, 251, 0.797);
  flex: 1;
}

.ItemNew {
  border: 2px solid red;
  background-color: black;
  flex: 1;
}