.App {
  text-align: center;
}

.viewport{
  width: device-width;
  height: device-height;
}

.WebContainer{
  display: block flex;
  flex-direction: column;
  margin: 0 auto;
}


html{ 
  height: 100%;
 } 
 
 body{
  height: 100%;
  position: relative;
 }
 
.Container {
  display: block flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border: 5px solid blue;
}

.Item {
  border: 2px solid red;
  background-color: rgb(255, 251, 251, 0.797);
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

